configuration{
    modi: "drun";
    icon-theme: "Numix-Circle";
    font: "JetBrainsMono Nerd Font Regular 13";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    sidebar-mode: true;
    border-radius: 10;
}


