/* Reset Global */
* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-weight: 500;
    font-size: 14px;
}

#window {
    background-color: {{colors.surface.default.hex}};
    color: {{colors.on_surface.default.hex}};
    border: 2px solid {{colors.primary.default.hex}};
    border-radius: 12px;
}

#input {
    background-color: {{colors.surface_container_high.default.hex}};
    color: {{colors.on_surface.default.hex}};
    border: none;
    border-radius: 8px;
    margin: 10px;
    padding: 8px 12px;
    font-weight: bold;
}

#inner-box {
    margin: 10px;
    background-color: transparent;
}

#outer-box {
    margin: 0px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#entry {
    margin: 2px 0px;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
}

#entry:selected {
    background-color: {{colors.primary.default.hex}};
    color: {{colors.on_primary.default.hex}};
}

#img {
    margin-right: 12px;
    background-color: transparent;
}

#text {
    margin: 0px;
    border: none;
    color: {{colors.on_surface.default.hex}};
}

#entry:selected #text {
    color: {{colors.on_primary.default.hex}};
}
